*{
	background-color:violet;
}
div{
	width:500px;
	height:500px;
	background-color:red;
	margin:100px;
	padding:100px;
	border:5px solid black;
	border-radius:50px;
}
*{margin:0;
  padding:0;
  box-sizing:border-box;
}

p{   
    width:500px;
	height:500px;
	background-color:green;
	border:5px solid red;
	border-radius:50px;
}

img{  
   margin:100px;
	border-radius:50px;
}
.c1{
	margin-left:1000px;
	margin-bottom:1000px;
	margin-right:10px;
}

.c5{ 
     width:40%;
     background:red;
	 display:inline-block;
	 visibility:hidden;
}
spam{
	width:40%;
	background:green;
	display:inline-block;
}